.about{
    padding: 2rem;
  }
  
  .about h1{
    text-align: center;
    padding: 10px;
    color: #faf606;
  }
  
  .about h2{
    padding-bottom: 30px;
    text-align: center;
  }
  
  .icon{
    padding: 10px;
    max-width: 100%;
  }
  .logo{
    height: 400px;
    width: 100%;
    object-fit: cover;
    
  }
  
  @media(max-width:750px){
    .about{
      padding: 1rem;
    }
  }