.about{
    padding: 2rem;
  }
  
  .about h1{
    text-align: center;
    padding: 30px 0;
    color: #faf606;
  }
  
  .about h2{
    padding-bottom: 30px;
    text-align: center;
  }
  
  .icon{
    padding: 10px;
    max-width: 100%;
  }
  .logo{
    height: 400px;
    width: 100%;
    object-fit: cover;
    
  }

 
  /* Base styles */
#background-video {
  width: 100%; /* Take up full width of container */
  height: auto; /* Maintain aspect ratio */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  #background-video {
    width: 100%; /* Adjust width for smaller screens */
    height: auto; /* Maintain aspect ratio */
  }
}

@media screen and (max-width: 480px) {
  #background-video {
    width: 100%; /* Adjust width for even smaller screens */
    height: auto; /* Maintain aspect ratio */
  }
}



  @media(max-width:750px){
    .about{
      padding: 1rem;
    }
  }