
.nav{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #0b0c16;
    z-index: 2;
  }
  
  .nav h3{
    color: #00e281;
  }
  
  .nav-link{
    font-family: sans-serif;
    font-weight: 600;
    margin-right: 50px;
  }
  
  .nav-link:hover{
    color: #ff3d71;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid;
  }
  

  @media(max-width:550px){
    .nav{
      flex-direction: column;
    }

    .nav h3{
      padding-bottom: 10px;
    }
  
    .nav-list{
      margin-right: 0;
      text-align: center;      
    }

    .down{
      display: flex;
      flex: 1;
    }

  }